.jumbotron {
    padding: 100px;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nypl.org%2Fblog%2F2015%2F12%2F10%2Fbooks-authors-goodreads-alternative&psig=AOvVaw1R8Oo56T_QId1RoAI7GtXk&ust=1614222184432000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCq9bXEge8CFQAAAAAdAAAAABAD");
    background-size: cover;
    background-position: center;
    color:black;
  }